body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis.prio path {
  display: none;
}

 .description text {
  font-weight: 700;
  background-color: red;
}
  .description rect {
    fill: #d3d3d3;  
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}



.subbar{
    opacity: 0.25;
}

.desc_header{
    font-weight: 700;
}
