body{
    font-family: 'PT Sans', sans-serif;
    background-color: #d3d3d3;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis.prio path {
  display: none;
}

 .description text {
  font-weight: 700;
  background-color: red;
}
  .description rect {
    fill: #d3d3d3;  
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}



.subbar{
    opacity: 0.25;
}

.desc_header{
    font-weight: 700;
}

.color0{
    fill: rgb(255,255,255);
}

.color1{
    fill: rgb(247,251,255);
}

.color2{
    fill: rgb(222,235,247);
}

.color3{
    fill: rgb(198,219,239);
}

.color4{
    fill: rgb(158,202,225);
}

.color5{
    fill: rgb(107,174,214);
}

.color6{
    fill: rgb(66,146,198);
}

.color7{
    fill: rgb(33,113,181);
}

.color8{
    fill: rgb(8,81,156);
}

.color9{
    fill: rgb(8,48,107);
}

.color10{
    fill: rgb(0,0,0);
}

.nocolor{
  fill: #FFFFFF;
}

.country{
  stroke: red;
  stroke-width: 2px;
  fill: none;
}

.states{
  stroke: purple;
  stroke-width: 1px;
  fill: none;
}

.counties{
    stroke: #d3d3d3;
    stroke-width: 0.5px;
}

.rails{
    stroke: black;
    stroke-width: 3px;
}
